#! /bin/bash

{{ result_user_creation.home }}/monerod \
{% if network_flag %}
    {{ network_flag }} \
{% endif %}
{% if pruned %}
    --prune-blockchain \
{% endif %}
{% if ban_list %}
    --ban-list={{ result_ban_list['dest'] }} \
{% endif %}
{% if enable_dns_blocklist %}
    --enable-dns-blocklist \
{% endif %}
{% if public_rpc_port %}
    --public-node \
    --rpc-restricted-bind-port={{ public_rpc_port }} \
    --rpc-restricted-bind-ip=0.0.0.0 \
    --rpc-restricted-bind-ipv6-address=:: \
{% endif %}
    --sync-pruned-blocks \
    --data-dir={{ result_create_blockchains_dir.path }} \
    --non-interactive \
    