# These tasks only run for the hosts in the hetzner_nodes
# group. With an exception documented below
- name: Create SSH keys
  local_action:
    module: hetzner.hcloud.hcloud_ssh_key
    api_token: "{{ hetzner_api_key }}"
    name: "{{ public_ssh_key_name }}"
    public_key: "{{ public_ssh_key }}"
    state: present
  when: "'hetzner_nodes' in group_names"

- name: Create VPS
  local_action:
    module: hetzner.hcloud.hcloud_server
    api_token: "{{ hetzner_api_key }}"
    name: "{{ inventory_hostname_short }}"
    location: "{{ hetzner_region }}"
    server_type: "{{ hetzner_server_type }}"
    image: "{{ hetzner_image }}"
    ssh_keys:
      - "{{ public_ssh_key_name }}"
    state: started
  register: result_create_vps
  when: "'hetzner_nodes' in group_names"

# This is a bit of a hack: we want to run the tasks of this role
# only when we're dealing with a member of hetzner_nodes. But we
# always want to run this "Register IP" task, because add_host
# bypasses the host loop. See its documentation for context:
# https://docs.ansible.com/ansible/latest/collections/ansible/builtin/add_host_module.html
- name: Register the ip address of the servers created
  add_host:
    hostname: "{{ hostvars[item].inventory_hostname_short }}"
    # We need to disregard servers that are not part of the run, which are the ones we didn't run
    # "Create VPS" on. This allows us to run the playbook with --limit flag
    ansible_host: '{{ hostvars[item].result_create_vps.hcloud_server.ipv4_address if "result_create_vps" in hostvars[item] else "" }}'
  changed_when: False  # Otherwise this always reports "changed"
  with_items: "{{ groups['hetzner_nodes'] }}"

- name: Attach a volume to hold the blockchain data
  local_action:
    module: hetzner.hcloud.hcloud_volume
    api_token: "{{ hetzner_api_key }}"
    name: "{{ inventory_hostname_short }}"
    server: "{{ result_create_vps.hcloud_server.name }}"
    state: present
    size: "{{ hetzner_volume_gb_size | int }}"
  register: result_attach_volume
  when: "'hetzner_nodes' in group_names and volume_mountpoint"

- name: wait for the server to be available
  wait_for_connection:
    sleep: 5
    timeout: 300
  when: "'hetzner_nodes' in group_names"

- name: Export device name
  set_fact:
    device_name: "{{ result_attach_volume.hcloud_volume.linux_device }}"
  when: "'hetzner_nodes' in group_names and volume_mountpoint"

- name: Export empty device name
  set_fact:
    device_name: ''
  when: "'hetzner_nodes' in group_names and not volume_mountpoint"