[Unit]
Description=Monero Mainnet Daemon
StartLimitBurst=3
StartLimitInterval=60s

[Service]
ExecStart=/bin/bash {{ result_init_script['dest'] }}
TimeoutSec=0
RestartSec=2
Restart=always
MemoryAccounting=true
MemoryHigh={{ memory_high }}
MemoryMax={{ memory_max }}
User={{ monerod_user }}

[Install]
WantedBy=multi-user.target
